<!DOCTYPE html>
<html>
<head>
    <title>Movies List App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href='/static/style.css'/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@300&display=swap" rel="stylesheet">
</head>
    <body>
        <div class="container">
            <h1>Welcome to the Movies List App</h1>
                <p>Discover and explore a wide range of movies.</p>

            <h1><a href="/users" class="users">All users</a></h1>


        </div>
    </body>
</html>
