<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href='/static/style.css'/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <title>Registration</title>
</head>

<body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li><h1 class="error">{{ message }}</h1></li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form action="/login/{{ user_id }}" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br><br>

        <label for="password">Password:</label>
        <input type="text" id="password" name="password"><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>