<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href='/static/style.css'/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <title>Update Movie</title>
</head>

<body>
    <form action="/users/{{ user_id }}/update_movie/{{ movie['movie_id'] }}" method="POST">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="{{movie['title']}}" class="form-control"><br>


        <label for="director">Director:</label>
        <input type="text" id="director" name="director" value="{{movie['director']}}" class="form-control"><br>

        <label for="year">Year:</label>
        <input type="text" id="year" name="year" value="{{movie['year']}}" class="form-control"><br>

        <label for="rating">Rating:</label>
        <input type="text" id="rating" name="rating" value="{{movie['rating']}}" class="form-control"><br>


        <input type="submit" value="Submit" class="add_btn">
    </form>
</body>
</html>