<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users - MovieWeb App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href='/static/style.css'/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,1,200" />

</head>
<body>
        <a href="{{ url_for('home') }}" class="home">
            <span class="material-symbols-outlined">
                home
            </span>
        </a>
        <h1 class="users_title">All Users</h1>
        {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    <ul class=flashes>
                    {% for message in messages %}
                      <li><h1 class="error">{{ message }}</h1></li>
                    {% endfor %}
                    </ul>
                  {% endif %}
        {% endwith %}
        <a href="{{ url_for('add_users') }}">
            <button class="add_btn">Add user</button>
        </a>
        {% for user in users %}
            <ul>
            <li class="user_card">
                <a href="/users/{{ user['user_id'] }} " class="user"> {{ user['name'] }}</a>

                <div class="buttons">
                    <a href="{{ url_for('delete_user',user_id=user['user_id']) }}" class="delete_btn_user">
                        Delete
                    <span class="material-symbols-outlined">
                        delete
                    </span>
                    </a>
                    <a href="{{ url_for('update_user',user_id=user['user_id']) }}" class="update_btn_user">
                        Update
                        <span class="material-symbols-outlined">
                            update
                        </span>
                    </a>
                </div>
                <div class="register_and_login">
                    {% if not user['username'] or not user['password'] %}
                    <a href="{{ url_for('register',user_id=user['user_id']) }}" class="register_btn_user">
                        Register
                    <span class="material-symbols-outlined">
                        app_registration
                    </span>
                    </a>
                    {% endif %}
                    {% if user['username'] or user['password'] %}
                    <a href="{{ url_for('login', user_id=user['user_id']) }}" class="login_btn_user">
                        Login
                    <span class="material-symbols-outlined">
                            how_to_reg
                    </span>
                    </a>
                    {% endif %}
                </div>

            </li>
          </ul>
      {% endfor %}

</body>
</html>