<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{user_name}}'s Movies</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href='/static/style.css'/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@300&display=swap"
          rel="stylesheet">
</head>
<body>
<h1><a href="/users" class="users">All users</a></h1>
<h1 class="user_name">{{user_name}}'s Movies</h1>
<a href="{{ url_for('add_movie', user_id=user_id) }}">
    <button class="add_btn">Add Movie</button>
</a>
<ul>
    {% for movie in user_movies %}
    <div class="movie-card" style="background-image: url({{ movie['poster'] }});">

        <li>
            <a href="{{ movie['address'] }}" class="movie-address" target="_blank">
                <h1 class="title"> {{ movie["title"] }}</h1>
            </a>

        </li>
        <li>
            <h2 class="director">
                {{ movie["director"] }}
            </h2>
        </li>
        <li>
            <h2 class="year">
                {{ movie["year"] }}
            </h2>
        </li>
        <li>
            <h2 class="rating">
                {{ movie["rating"] }}
            </h2>
        </li>
        <li>
            <h2 class="review">
                {{ movie["review"] }}
            </h2>
        </li>
        <li>
            <a href="{{ url_for('delete_movie', movie_id=movie['movie_id'], user_id=user_id) }}">
                <button class="delete_btn_movie">Delete Movie</button>
            </a>
            <a href="{{ url_for('update_movie', movie_id=movie['movie_id'], user_id=user_id) }}">
                <button class="update_btn_movie">Update Movie</button>
            </a>
            <a href="{{ url_for('add_review', movie_id=movie['movie_id'], user_id=user_id) }}">
                <button class="add_review_btn">Add Review</button>
            </a>
            <a href="{{ url_for('see_reviews', movie_id=movie['movie_id'], user_id=user_id) }}">
                <button class="see_reviews_btn">See Reviews</button>
            </a>
        </li>

    </div>
    {% endfor %}
</ul>
</body>
</html>